/*input {
	min-height: 48px;
	border: 1px solid $text-color;
	border-radius: 4px;
	padding: 0 15px;
}

input::placeholder {
	color: $neutral-light-gray;
}

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden;
}*/
