.toggle_switch {
	appearance: none;
	width: 4rem;
	height: 2rem;
	border-radius: 2rem;
	//background-color: #ddd;
	background-image: linear-gradient(
		to right,
		$purpleGradientLight,
		$purpleGradientDarker
	);
	outline: 0;
	cursor: pointer;
	transition: background-image 0.09s ease-in-out;
	position: relative;

	&:checked {
		background-image: linear-gradient(
			to right,
			$purpleGradientLight,
			$purpleGradientDarker
		);
		&::after {
			left: 2rem;
		}
	}

	&:after {
		content: "";
		width: 2rem;
		height: 2rem;
		border-radius: 2rem;
		background-color: white;
		position: absolute;
		transform: scale(0.7);
		left: 0;
		transition: left 0.09s ease-in-out;
		box-shadow: 0 0.1rem rgba(0, 0, 0, 0.5);
	}
}
